{% extends "base.html" %}
{% block title %} Client - Capcan {% endblock %}
{% block content %}
<h2>Clients</h2>
<div id="client-table-container">
    <table id="client-table">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Platform</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.platform|capitalize }}</td>
                    <td>
                        {% if client.status == "online" %}
                            <span class="status-dot online"></span> Online
                        {% else %}
                            <span class="status-dot offline"></span> Offline
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </tbody>
    </table>
</div>
{% endblock %}
