{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='Capcan-css-clients.css') }}">
{% endblock %}

{% block title %} Client - Capcan {% endblock %}
{% block content %}
<h2>Clients</h2>
<div class="client-container">
    <section class="client-list-container">
        <div class="client-search-container">
            <div class="client-search">
                <label class="search-label">
                    <input type="text" name="text" class="input" required="" placeholder="Type here..." id="clientSearch">
                </label>
            </div>
            <button class="client-filter" type="button" onclick="toggleFilter()">
                <svg preserveAspectRatio="none" viewBox="4.8 4.56 14.832 15.408" fill="none">
                    <path d="M8.16 6.65002H15.83C16.47 6.65002 16.99 7.17002 16.99 7.81002V9.09002C16.99 9.56002 16.7 10.14 16.41 10.43L13.91 12.64C13.56 12.93 13.33 13.51 13.33 13.98V16.48C13.33 16.83 13.1 17.29 12.81 17.47L12 17.98C11.24 18.45 10.2 17.92 10.2 16.99V13.91C10.2 13.5 9.97 12.98 9.73 12.69L7.52 10.36C7.23 10.08 7 9.55002 7 9.20002V7.87002C7 7.17002 7.52 6.65002 8.16 6.65002Z" stroke="#d6d6e6" stroke-width="1" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
        <div class="clients" id="clientsList">
            <!-- Client items will be dynamically generated here based off a format -->
            {{ client_list_html | safe }}
        </div>
    </section>
    <section class="client-details" id="clientDetails">
        <!-- Client details will be dynamically generated here based off a format -->
        {{ client_details_html | safe }}
    </section>

</div>
{% endblock %}