{% extends "base.html" %}
{% from "components/modular_block.html" import modular_block %}

{% block title %} Dashboard - Capcan {% endblock %}
{% block content %}
    <h1>Welcome to the Capcan Dashboard</h1>
    <div id="dashboard-tiles">
        {{ modular_block("Quick Stats", quickstats_html, "left", "large") }}
        {{ modular_block("Recent Activity", activity_html, "right", "medium") }}
        {{ modular_block("System Health", activity_html, "center", "small") }}
    </div>
{% endblock %}